body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: #ffffff;
    height: 60px;
}

a {
  text-decoration: none;
}

.header-line {
    height: 1px;
    background-color: #dedede;
    width: 80%;
    margin: 0 auto;
    border: none;  
}

.icon{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

.logo a {
    color: #000000;        
    text-decoration: none; 
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #bbbbbb;
    font-size: 16px;
    padding: 5px 0;
    display: inline-block;
    transition: color 0.3s;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 1.25px;
    background-color: #000000;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #000000;
}

nav a.active {
    background-color: #ffffff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
}

.body-text {
    padding: 20px 50px;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
}

/*=====================================главное изображение=========================================*/

.hero-wrapper {
    padding: 50px 80px;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100%;
    height: 650px; 
    background-image: url('../images/Chinese_vase.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    border-radius: 10px;
    overflow: hidden; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-color: #0000008c;
    z-index: 1;
}

.hero-content {
    position: relative; 
    z-index: 2;
    text-align: center;
    max-width: 800px; 
    padding: 0 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 60px;
    font-weight: bold;
}

.hero p {
    font-size: 25px;
    margin-bottom: 60px;
    color: #dedede;
}

.hero button {
    padding: 20px 30px;
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.hero button:hover {
    background-color: #ffffffa0;
    color: #ffffff;
}

/*===================================скроллбар===========================================*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 6px;  
    border: 3px solid transparent; 
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

/*==============================================================================*/

.tooltip {
    position: relative;
    text-decoration: none;
    color: #000;
}

.tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: #333333b0;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;

    position: absolute;
    bottom: -175%;
    left: -150%;
    transform: translateX(-50%);
    
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/*================================текстовые блоки==============================================*/

.container {
    display: flex;
    flex-direction: row;
    padding: 50px 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.container img {
    width: 40%;
    border-radius: 10px;
}

.about-text {
    width: 50%;
    text-align: justify;
}

/*=============================навигация================================================*/

.floating-nav {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
  overflow: hidden;
}

.floating-nav:hover {
  width: 200px;
  height: auto;
  min-height: 60px;
  border-radius: 10px;
  padding: 15px;
  background: #f1f1f1b7;
}

.nav-icon {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-icon svg {
  width: 28px;
  height: 28px;
}

.floating-nav:hover .nav-icon {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}

.nav-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-nav:hover .nav-content {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.nav-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.nav-content li {
  margin: 10px 0;
}

.nav-content a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.nav-content a:hover {
  background: #ffffff;
}

/*=============================подвал ===============*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 25px 50px;
    background-color: #ffffff;
    height: 60px;
    box-sizing: border-box; 
}

.footer-content {
    padding: 30px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.footer-line {
    height: 1px;
    background-color: #dedede;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;  
}

/* =========================================================Кнопка в контактах */
.contacts-btn {
    display: block;
    margin: 70px auto 0;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

.contacts-btn:hover {
  background-color: #555;
}

/* ====================Модальное окно (fullscreen изображение) ==================*/

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #bbb;
}

/* ======================= паспорт ======================== */

.passport-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.passport-wrapper {
    display: flex;
    flex-direction: column; /* паспорт сверху, кнопки снизу */
    align-items: center;
    height: 100vh;
}

.passport-container {
    position: relative;
    display: inline-block;
}

.passport-background {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.passport-text {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.rotated {
    font-weight: bold;
    color: brown;
    transform: rotate(90deg);
    transform-origin: left top;
}

/* кнопки под паспортом */
.passport-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.passport-btn {
    display: block;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

.passport-btn:hover {
    background-color: #555;
}


/* =========================== TABLE ============================ */

table {
    border-collapse: collapse; /* объединяет границы */
    width: 60%;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden; 
}

.table-background {
    background-image: url('../images/мазки.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    text-align: center;
}

.market-button {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

.market-button:hover {
    background-color: #555;
}

td a {
    color: #ffffff;
    font-weight: bold;
}

/* =========================== EXHIBITIONS ============================ */

.exhibitions {
    width: 40%;
    margin: 0px auto;
    padding: 15px 80px;
}

/* =========================== ARTISTS ================================= */

.artists {
    width: 38%;
    margin: 0px auto;
    padding: 15px 80px;
}

/*=========================== FORM ==================================== */

form {
    width: 38%;
    margin: 30px auto;
    
}

label {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.checker {
    display: block;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

select {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

.form-button {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'lucida sans', 'lucida sans regular', 'lucida grande', 'lucida sans unicode', geneva, verdana, sans-serif;
}

.form-button:hover {
    background-color: #555;
}

.form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.input_checker {
    width:  15px;
    height: 15px;
    margin-right: 10px;
    accent-color: #000;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    accent-color: #000;
}

.capcha_div {
    width: 40%;
    margin: 30px auto;
}

.form-result {
    margin: 5px 0px;
}

/* ===== Эффект наведения и анимация увеличения картин ===== */

table img {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

table img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Плавное появление увеличенного изображения */
@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content {
    animation: zoomIn 0.3s ease;
}